<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csappjava">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Mydata"
        android:allowBackup="true"
        android:icon="@mipmap/ic_newappicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_newappicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Csappjava"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="bqbfrtex9q" />

        <activity
            android:name=".Maptest"
            android:exported="false" />
        <activity
            android:name=".image.MultiImageActivity"
            android:exported="false" />
        <activity
            android:name=".Marketplace.BookApiActivity"
            android:exported="false" />
        <activity
            android:name=".Login.RegisterActivity3"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Theme.Csappjava3" />
        <activity android:name=".Community.CommunityPostActivity"
            android:theme="@style/Theme.Csappjava"/>
        <activity android:name=".Login.RegisterActivity2" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Community.CommunityActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Community.CommunityActivity2" />
        <activity
            android:name=".Marketplace.MarketplaceActivity"
            android:theme="@style/Theme.Csappjava2" />
        <activity android:name=".Marketplace.MarketplacePostActivity"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Marketplace.MarketplaceActivity2"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Login.FindpwdActivity" />
        <activity android:name=".Chatting.ChatActivity"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Chatting.ChatActivity_2"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Chatting.ChatMainActivity"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Community.CommunityPostActivityRewrite"
            android:theme="@style/Theme.Csappjava"/>
        <activity android:name=".Marketplace.MarketplacePostActivityRewrite"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Marketplace.BarcoadActivity" />
        <activity android:name=".Setting.SettingMain"
            android:theme="@style/Theme.Csappjava6"/>
        <activity android:name=".Setting.ModSetting"
            android:theme="@style/Theme.Csappjava6"/>
        <activity android:name=".Setting.MySetting"
            android:theme="@style/Theme.Csappjava6"/>
        <activity android:name=".Setting.MySetting_profile"
            android:theme="@style/Theme.Csappjava6"/>
        <activity android:name=".Setting.MySetting_nickname"
            android:theme="@style/Theme.Csappjava6"/>
        <activity android:name=".MainLoadingActivity" />
        <activity android:name=".Mappoint" />
        <activity android:name=".Marketplace.MarketplacePostActivity2"
            android:theme="@style/Theme.Csappjava2"/>
        <activity android:name=".Marketplace.MarketplaceActivity2_1"
            android:theme="@style/Theme.Csappjava2"/>
    </application>

</manifest>